<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>MadLibs</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css'>
</head>
<body>
  <div class="jumbotron">
    <h1>Fury</h1>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <p>The path of the righteous @Model.GetWord("noun1") is beset on all sides by the @Model.GetWord("noun2") of the @Model.GetWord("adjective") and the @Model.GetWord("noun3") of evil men.</p>
      <p>Blessed is he who, in the name of charity and good will, @Model.GetWord("verb1") the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.</p>
      <p>And I will @Model.GetWord("verb2") thee with great @Model.GetWord("noun5") and furious anger those who attempt to @Model.GetWord("verb3") and destroy my @Model.GetWord("noun4").</p>
      <p>And you will know my name is @Model.GetWord("name") when I lay my @Model.GetWord("noun5") upon you.</p>
    </div>
    <div class="col-lg-6">
      <img src="https://cdn.newsapi.com.au/image/v1/24f1124114b3672d4f4a6199874a4730?width=1024" alt="jules">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center space">
      <a href="/Game2Input" class="btn btn-dark large">Do it again!</a> <a href="/" class="btn btn-dark large">Home</a>
    </div>
  </div>
</body>
</html>
