<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>MadLibs</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Hello From The Scars</h1>
    <p>Wanna know how I got these scars???</p>
    <p>My father was a @Model.GetWord("occupation") and a fiend.</p>
    <p>So one night, he goes off crazier than usual. Mommy gets the @Model.GetWord("thing") to @Model.GetWord("verb") herself.</p>
    <p>He doesn't like that. Not...one...bit. So, me watching, he takes the @Model.GetWord("thing") to her, laughing while he does it.</p>
    <p>He looks at me, and he says <em>"@Model.GetWord("question") so @Model.GetWord("adjective") !?"</em></p>
    <p>He comes at me with the @Model.GetWord("thing"), <em>"@Model.GetWord("question") so @Model.GetWord("adjective") !?"</em></p>
    <p><em>"Let's put a smile on that face!!"</em> <em>"@Model.GetWord("question") so @Model.GetWord("adjective") !?"</em></p>
  </body>
</html>
